<app-search></app-search>
<app-tags></app-tags>
<app-page-not-found
    [visible]="!foods || !foods.length"
    resetLinkText="Reset Search">
</app-page-not-found>
<ul class="df jcc aic lstn mx-w">
    <li *ngFor="let data of foods">
        <!-- //routerLink="/food/{{data.id}}" -->
        <a routerLink='/food/{{data.id}}' class="pos-rel" >
            <img src={{data.imageUrl}} [alt]="data.name">
            <div class="content">
                <div class="name">{{data.name}}</div>
            </div>
            <span class="favorite {{data.favorite?'':'not'}}">❤</span>
            <div class="product-item-footer jcsb df">
                <div class="origins">
                    <span *ngFor="let data of data.origins">{{data}}</span>
                </div>
            </div>
            <div class="cook-time">
                <span>🕒</span>
                {{data.cookTime}}
            </div>
            <div class="price pos-abs">
                <span>Rs. {{data.price}}</span>
            </div>
        </a>
    </li>
</ul>