<header class="pos-rel">
    <div class="mx-w df jcsb aic">
        <a routerLink="/" class="logo">Food Mine</a>
        <nav>
            <ul class="df lstn">
                <li *ngIf="!isAuth"><a routerLink="/login-page">Login</a></li>
                <li class="menu-container pos-rel" *ngIf="isAuth">
                    <a routerLink="/login">{{user.name}}</a>
                    <div class="menu dn pos-abs">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/orders">Orders</a>
                        <a href="" (click)="logout()">Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/cart-page">
                        Cart <span *ngIf="cartQuantity">{{cartQuantity}}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>