input{
    height: 88%;
    border: none;
    border-bottom: 0 solid gray;
    transition: all 0.1s linear;
    background-color: white;
    font-size: 1.1rem;
    outline: none;
}
input::placeholder{color: #dfdfdf;font-size: 0.95rem;}
input:focus{
    border-bottom: 2px solid grey; 
}
input-validation{
    top: 0;
    right: 1rem;
    height: 100%;
    width: 12rem;
}