@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

body, h1, h2, h3, h4, h5, h6, p, ul, a, li{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
}

.pos-rel{position: relative;}
.pos-abs{position: absolute;}
.df{display: flex;}
.dn{display: none;}
.jcsb{justify-content: space-between;}
.jcc{justify-content: center;}
.aic{align-items: center;}
.fdc{flex-direction: column;}
.fww{flex-wrap: wrap;}
.tac{text-align: center;}
.mx-w{max-width: 1280px;margin: 0 auto;}
.mauto{margin: 0 auto;}
img, input{width: 100%;}
.w100{width: 100%}
.h100{height: 100%;}
.lstn{list-style-type: none;}
a{text-decoration: none;}
.cupo{cursor: pointer;}
.t0{top: 0;}
.b0{bottom: 0;}
.r0{right: 0;}
.l0{left: 0;}