<div class="mx-w df fww jcc">
    <div class="content">
        <app-title title="Order Form" fontSize="1.6rem"></app-title>
        <form [formGroup]="checkoutForn" class="w100">
            <text-input [control]="fc.name" label="Name"></text-input>
            <text-input [control]="fc.address" label="Address"></text-input>
        </form>
        <order-items-list [order]="order"></order-items-list>
    </div>
    <div class="map">
        <app-title title="Choose Your Address on Map" fontSize="1.6rem"></app-title>
        <map [order]="order"></map>
    </div>
    <div class="buttons-container df jcc">
        <div class="buttons df jcc">
            <button class="w100" (click)="createOrder()">Go to Payment</button>
        </div>
    </div>
</div>